:host > .small-container {
  margin-top: 40px;
}

.game-title {
  margin-bottom: 0;
  word-wrap: break-word;
  overflow: hidden;
}
.game-title + .game-description {
  margin-top: 0;
  word-wrap: break-word;
  text-overflow: ellipsis;
}

.form-group {
  input.invalid, textarea.invalid {
    background: rgba(255, 0, 0, 0.1);
  }
}

.form-group > .description {
  display: block;
}
