/* You can add global styles to this file, and also import other style files */
body, html {
  margin: 0;
}
.nostyle {
  text-decoration: none;
  color: inherit;
}
.hoverlink:hover {
  cursor: pointer;
}
.hoverunderline {
  color: inherit;
  text-decoration: none;
}
.hoverunderline:hover {
  text-decoration: underline;
  cursor: pointer;
}
.hoverdarken:hover {
  background: rgba(0,0,0,0.05) !important;
}
.spacer, .grow {
  flex-grow: 1;
}
.small-container {
  max-width: 400px;
  box-sizing: border-box;
  border: solid 0.1em black;
  margin: 0 auto;
}
@media(max-width: 400px) {
  .small-container {
    border-left: 0;
    border-right: 0;
  }
}
.small-container.shadow {
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}
.list {
  display: flex;
  flex-direction: column;
}
.list > .list-heading {
  font-size: 1.5em;
  border-bottom: solid 0.05em black;
}
.list > .list-heading.border-top {
  border-top: solid 0.05em black;
}
.list > .list-item , .list > .list-heading{
  padding: 16px 20px;
}
.list > .list-item {
  box-sizing: border-box;
}
.list > .list-item.flex {
  display: flex;
}
.list > .list-item.empty {
  color: grey;
}
.noselect {
  -webkit-touch-callout: none;
     -webkit-user-select: none;
      -khtml-user-select: none;
        -moz-user-select: none;
         -ms-user-select: none;
             user-select: none;
}
.padded {
  padding: 16px 20px;
}
form .form-group {
  margin-bottom: 10px;
}
form .form-group label {
  display: block;
}
.close:before {
  content: '\2715';
}
.icon {
  padding: 4px;
}
.form-group > input.invalid, .form-group > textarea.invalid {
  background: rgba(255, 0, 0, 0.1);
}
.form-group > .description {
  display: block;
}
button.betterfocus:focus {
  outline: 0;
  /*box-shadow: -5px 5px rgba(0, 0, 0, 0.05);*/
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}
